@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,400,400italic,600");
@import url("fontawesome-all.min.css");

ul.icons {
	position: relative;
	display: inline-block;
	padding: 0.35em 0.75em 0.35em 0.75em;
	font-size: 1.25em;
	cursor: default;
	list-style: none;
}

	ul.icons li {
		display: inline-block;
		padding-left: 0;
	}

		ul.icons li a {
			display: inline-block;
			background: none;
			width: 2.5em;
			height: 2.5em;
			line-height: 2.5em;
			text-align: center;
			border-radius: 100%;
			border: 0;
			color: inherit;
		}

			ul.icons li a:hover {
			color: #B267E0;
				opacity: 100%;
				animation:infinite;
			}

ul.icons {
	font-size: 4em;
}

	ul.icons li a {
		width: 1.5em;
}
.icons{
	background-color: none;
	cursor: pointer;
	padding: 8px 16px;
  }

  .icons:hover {
	border-bottom: #fff;
  }
  
  